body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
h1{
    font-size: 10rem;
    margin-left: 20px;
    font-family: Montserrat;
}
.letter{
    transition: color 500ms;
}